<%= form_for(@move_size) do |f| %>
  <% if @move_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@move_size.errors.count, "error") %> prohibited this move_size from being saved:</h2>

      <ul>
      <% @move_size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :home_size %><br />
    <%= f.text_field :home_size %>
  </div>
  <div class="field">
    <%= f.label :pounds %><br />
    <%= f.text_field :pounds %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
	  <b>Moving Box Kits:</b>
		<ul>
		<% @moving_box_kits.each do |u|%>
		<li><%= check_box_tag("moving_box_kit[#{u.id}]", 1, (true if @selected_move_box_kit_ids.include?(u.id))) %>  <%= u.company.name %> - <%= link_to(u.name, u.link, :target => "_blank") %> <%= number_to_currency(u.price) %></li>
		<% end %>
		</ul>
  </div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
