<h1>Listing move_sizes</h1>

<table>
  <tr>
    <th>Home size</th>
    <th>Pounds</th>
    <th>Slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @move_sizes.each do |move_size| %>
  <tr>
    <td><%= move_size.home_size %></td>
    <td><%= move_size.pounds %></td>
    <td><%= move_size.slug %></td>
    <td><%= link_to 'Show', move_size %></td>
    <td><%= link_to 'Edit', edit_move_size_path(move_size) %></td>
    <td><%= link_to 'Destroy', move_size, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Move size', new_move_size_path %>
