<h1>Showing Move Size</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Home size:</b>
  <%= @move_size.home_size %>
</p>

<p>
  <b>Pounds:</b>
  <%= @move_size.pounds %>
</p>

<p>
  <b>These Moving Box Products Apply to this Move Size:</b>
	<ul>
	<% @move_size.moving_box_kits.each do |u|%>
  		<li><%= u.company.name %> - <%= link_to(u.name, u.link, :target => "_blank") %> <%= number_to_currency(u.price) %></li>
	<% end %>
	</ul>
</p>



<%= link_to 'Edit', edit_move_size_path(@move_size) %> |
<%= link_to 'Back', move_sizes_path %>
