<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :move_size_id, "How much stuff do you have?" %><br />
    <%= f.collection_select(:move_size_id, MoveSize.all, :id, :home_size) %>
  </div>
  <div class="field">
    <%= f.label :move_date, "When are you Moving?" %><br />
    <%= f.date_select :move_date %>
  </div>
	<%= f.hidden_field :user_id %>
  <div class="actions">
    <%= f.submit("Find Moving Boxes", :disable_with => "Please wait...", :class => "submit") %>
  </div>
<% end %>
