<h1>How Many Boxes Do You Need?</h1>

<div id="search_form">
<%= render 'form' %>
</div>
<div id="quick_links">
	<ul>
	<h3>Popular Moving Box Kits</h3>
	<li><%= link_to("Dorm Room Moving Box Kits", :controller => "kits", :action => "index", :slug => "dorm-room") %></li>
	<li><%= link_to("Studio Moving Box Kits", :controller => "kits", :action => "index", :slug => "studio") %></li>
	<li><%= link_to("1 Bedroom Moving Box Kits", :controller => "kits", :action => "index", :slug => "1-bedroom") %></li>
	<li><%= link_to("2 Bedroom Moving Box Kits", :controller => "kits", :action => "index", :slug => "2-bedroom") %></li>
	<li><%= link_to("3 Bedroom Moving Box Kits", :controller => "kits", :action => "index", :slug => "3-bedroom") %></li>
	<li><%= link_to("4 Bedroom Moving Box Kits", :controller => "kits", :action => "index", :slug => "4-bedroom") %></li>
	</ul>
</div>
<div class="clearer"></div>

<h2>Compare Moving Box Prices from Multiple Providers:</h2>
<% @companies.each do |company| %>
	<%= image_tag company.logo_file, :title => company.name, :class => "company_homepage_logo" %>
<% end %>
<br/>
<br/>
<h2>MovingBoxSearch.com - We Make Moving Suck Less</h2>
<div id="homepage_bottom">
	<p class="subheading">We give you FREE Coffee for your move day</p>
	<p>Moving sucks.  We want to make it suck less.  To do that, we will buy you $5 of Starbucks coffee if you buy your moving boxes through MovingBoxSearch.com.  Here's how it works:</p>
	<ol>
		<li><p>Sign Up and Buy Boxes <%= image_tag "moving_box.png", :title => "title", :class => "class" %></p></li>
		<li><p>Get Your FREE Coffee <%= image_tag "free_coffee.png", :title => "title", :class => "class" %></p></li>
		<li><p>Celebrate <%= image_tag "jump_for_joy.png", :title => "title", :class => "class" %></p></li>
	</ol>
</div>
