<h2>Your Move:</h2>
<p>
  <b>Move date:</b>
  <%= @search.move_date.strftime("%b %d %Y") %>
	<br/>
  <b>Move size:</b>
  <%= @search.move_size.home_size %>
</p>

<%= link_to 'Modify Search', edit_search_path(@search) %> |
<%= link_to 'Start Over', searches_path %>

<% if @search.move_size.used_card_board_box_products %>
	<h2>Recommended Moving Kits</h2>
	<table>
		<tr>
		    <th>Name</th>
		    <th>Image</th>
		    <th>Description</th>
		    <th>Price</th>
		    <th></th>
		</tr>
		<% @search.move_size.used_card_board_box_products.each do |product| %>
			<tr>
				<td><%= product.name %></td>
				<td><%= link_to(image_tag(product.thumbnail_url), product.link) %></td>
				<td><%= product.description %></td>
				<td><%= number_to_currency(product.price) %></td>
				<td>
					<% if user_signed_in? %>
						<%= link_to "buy now to get your FREE Starbucks e-Giftcard", "#{product.link}&AFFTRACK=#{current_user.id}", :target => "_blank" %>
					<% else %>
						<%= link_to "buy now", product.link, :target => "_blank" %>
					<% end %>
				</td>
				<% if !user_signed_in? %>
				<td><%= link_to "FREE coffee!!  Get a $5 Starbucks e-Giftcard if you sign in, then buy!", new_user_registration_path %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
<% end %>

