<p id="notice"><%= notice %></p>

<p>
  <b>Move date:</b>
  <%= @search.move_date %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>

<% if @search.move_size.used_card_board_box_products %>
	<h2>Recommended Moving Kits</h2>
	<table>
		<tr>
		    <th>Name</th>
		    <th>Image</th>
		    <th>Price</th>
		    <th></th>
		</tr>
		<% @search.move_size.used_card_board_box_products.each do |product| %>
			<tr>
				<td><%= product.name %></td>
				<td><%= link_to(image_tag(product.thumbnail_url), product.link) %></td>
				<td><%= number_to_currency(product.price) %></td>
				<td><%= link_to "buy now", product.link, :target => "_blank" %></td>
				<td><%= link_to "FREE coffee!!  Get a $5 Starbucks e-Giftcard if you sign in, then buy!", "#", :target => "_blank" %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<% if @results.class != SocketError %>
	<h2>Found <%= number_with_delimiter(@results["totalItems"]) %> results, showing <%= "#{number_with_delimiter(@results["startIndex"])} through #{number_with_delimiter(@results["currentItemCount"])}" %></h2>
	<% @results["items"].each do |item| %>
		<h4><%= item["product"]["author"]["name"] %> - <%= item["product"]["title"] %>  <%= number_to_currency(item["product"]["inventories"][0]["price"]) %></h4>
		<%= image_tag(item["product"]["images"][0]["link"])%> 
		<p><%= link_to("buy now", item["product"]["link"], :target => "_blank") %></p>
		<p><b>Brand:</b> <%= item["product"]["brand"] %></p>
		<p><b>Condition:</b> <%= item["product"]["condition"] %></p>
		<p><%= item["product"]["description"] %></p>
	<% end %>
<% elsif @results.class == SocketError %>
	<p>Oops, we had an error retrieving results:</p>
	<%= @results.message %>
<% end %>
