<h2>Your Move:</h2>
<p>
  <b>Move date:</b>
  <%= @search.move_date.strftime("%b %d %Y") %>
	<br/>
  <b>Move size:</b>
  <%= @search.move_size.home_size %>
</p>

<%= link_to 'Modify Search', edit_search_path(@search) %> |
<%= link_to 'Start Over', "/" %>

<%= render :partial => "/shared/search_results", :locals => { :move_size => @search.move_size} %>
