<p id="notice"><%= notice %></p>

<p>
  <b>Move date:</b>
  <%= @search.move_date %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>

<% if @search.move_size.used_card_board_box_products %>
	<h2>Recommended Moving Kits</h2>
	<table>
		<tr>
		    <th>Name</th>
		    <th>Image</th>
		    <th>Description</th>
		    <th>Price</th>
		    <th></th>
		</tr>
		<% @search.move_size.used_card_board_box_products.each do |product| %>
			<tr>
				<td><%= product.name %></td>
				<td><%= link_to(image_tag(product.thumbnail_url), product.link) %></td>
				<td><%= product.description %></td>
				<td><%= number_to_currency(product.price) %></td>
				<td><%= link_to "buy now", product.link, :target => "_blank" %></td>
				<td><%= link_to "FREE coffee!!  Get a $5 Starbucks e-Giftcard if you sign in, then buy!", "#", :target => "_blank" %></td>
			</tr>
		<% end %>
	</table>
<% end %>

