<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title || "Moving Box Search | Find Moving Boxes | MovingBoxSearch.com" %></title>
  <meta name="description" content="<%= @meta_description || "Moving Box Search - Compare prices from multiple providers.  Buy Moving Boxes online, get them in a few days.  Free Shipping.  MovingBoxSearch.com" %>" />
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= render :partial => "shared/analytics_tags" %>
</head>
<body>
	<div id="outer">
	  <div id="header">
			<%= render :partial => "shared/header" %>
	  </div>
		<div id="content">
			<p id="notice"><%= notice %></p>
			<p id="alert"><%= alert %></p>
		<%= yield %>
		</div>
	  <div id="clearfooter"></div>
	  <div id="footer">
			<%= render :partial => "shared/footer" %>
	  </div>
	</div>
</body>
</html>
