<h1>Account for - <%= @user.email %></h1>
<ul>
	<li><%= link_to('Change email/password', edit_user_registration_path) %></li>
	<li><%= link_to('Cancel Account', edit_user_registration_path) %></li>
</ul>

<h2>Your Upcoming Move</h2>
<% if current_user.searches.size > 0 %>
	<p>
	  <b>Move date:</b>
	  <%= current_user.searches.last.move_date.strftime("%b %d %Y") %>
		<br/>
	  <b>Move size:</b>
	  <%= current_user.searches.last.move_size.home_size %>
		<br/>
		<%= link_to "see recommended moving box kits", current_user.searches.last %>
	</p>
<% else %>
	<p>You have not searches for moving boxes yet.  <%= link_to "Search Now", new_search_path %></p>
<% end %>

<h2>Your Purchases</h2>
<% if current_user.purchases.size > 0 %>
	<table class="user_purchases">
	  <tr>
	    <th colspan="2">Your Purchase</th>
	    <th colspan="4">Your Starbucks e-Giftcard</th>
	  </tr>
	  <tr>
	    <th>Purchase date</th>
	    <th>Purchase amount</th>
	    <th>eGiftcard Amount</th>
	    <th>Sent to Email</th>
	    <th>Sent At</th>
	    <th>Confirmation Number</th>
	  </tr>

	<% current_user.purchases.each do |purchase| %>
	  <tr class="<%= cycle("even", "odd") %>">
	    <td><%= purchase.transaction_date.strftime("%m/%d/%Y at %I:%M%p") %></td>
	    <td class="money"><%= number_to_currency(purchase.transaction_amount) %></td>
	    <td class="money"><%= number_to_currency(purchase.starbucks_amount_purchased) %></td>
	    <td><%= purchase.starbucks_sent_to_email %></td>
	    <td><%= purchase.starbucks_sent_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
	    <td><%= purchase.starbucks_confirmation_number %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	<p>We have not been notified of any purchases yet.</p>
<% end %>
<p><i><b>*</b> If you have made a purchase in the last 24 hours that is not shown above, please check back soon.  It can take up to 24 hours for our partners to notify us of a purchase.</i></p>
 